<h1>My To Do List <%- currentUser ? currentUser.username : 'Guest' %></h1>
<div id="myDIV" class="header">
  <form method="POST">
    <input type="text" id="myInput" name="name" placeholder="Title...">
    <button type="submit" formmethod="post">Add work</button>
  </form>
 
</div>

